

img{
	width:50%;
	margin:0;
}
header{
  text-align: center;
}

body {
  margin: 0;
  padding: 0;

}

img{
  margin-top: 1em;
}

video{
  width : 40em;

}

.foods{
  width:50em;
  background : rgba(189, 189, 189, .3);
  margin:0 auto;
}
.small{
  width: 60px
}

h3{
  font-family: Arial, sans-serif;
  text-align: center;
  font-size: 40px
}
#profimg{
  margin-left: auto;
  margin-right: auto;
  width: 50em
}
#square{
  background-color:white;
  margin:0 auto;
  max-width: 70%;
  padding:40px;
}

#game2048{
  width: 400px;
}
/* fonts */

h1 {
	font-family: Arial, sans-serif;
	font-size: 2.5em;
	font-style: normal;
	font-weight: 500;
  text-align: center;
}

p {
	font-family:  Arial, sans-serif;
	font-size: 1em;
	font-style: normal;
	font-weight: 400;
	line-height: 1.5em;
}
*/
ul li{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 1em;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
}

/* Top horizontal nav pane*/

#hyperlink ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#030303;
    text-align: center;
}

#hyperlink li {
	float: right;
}

#hyperlink li a {
    display: block;
    color: white;
    text-align: center;
    padding: 1em;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
#hyperlink li a:hover {
    background-color: #222222;
}

.active{
	background-color: #2ecc71;
	color:white;
}
