

img{
	width:50%;
	margin:0;
  background-size: cover;
}
header{
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
}
img{
  margin-top: 1em;
}

video{
  width : 40em;
  text-align: center;
}

#content{
  padding-left: 30px;
  margin-left:100px;
	max-width: 80%;
  display: flex;
}

.Info, .education, .experience{
  margin-left: 30px;
  margin-right: 30px;
}
.resumebackground{
  background-color: lightgray;
}
.left{
  width:30%;
  padding:20px;
	float:left;
}

.right{
  width: 50%;
  margin left: 0px;
	float:left;
}

.foods{
  width:80em;
  background : rgba(189, 189, 189, .3);\
  display: flex;
  flex-flow: row wrap;
  margin:0 auto;
}
.small{
  width: 60px
}

h3{
  font-family: Arial, sans-serif;
  text-align: center;
  font-size: 40px
}

h2{
  font-family: Arial, sans-serif;
  text-align: center;
  font-size: 30px
}
#centerimg{
  margin-left: auto;
  margin-right: auto;
  width: 50em
}
#square{
  margin:3em 0;
  padding-top: 20px
  width:100%;
  display: flex;
  flex-flow: row wrap;
  box-sizing: border-box;
}

#game2048{
  width: 400px;
}

#foim{
  width:450px;

}
/* fonts */

h1 {
	font-family: Arial, sans-serif;
	font-size: 2.5em;
	font-style: normal;
	font-weight: 500;
  text-align: center;
  text-shadow : 6px 6px 5px #BDBDBD;
}

p {
	font-family:  Arial, sans-serif;
	font-size: 1em;
	font-style: normal;
	font-weight: 400;
	line-height: 1.5em;
}
*/
ul li{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 1em;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
}

/*style for horizontal nav */

#hyperlink {
  list-style: none;
  margin: 0; padding: 0 0 10px 5px;
  background-color: #000000; border-bottom: 1px solid #ffcc00;
  margin-bottom: 0px;
}
#hyperlink ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#030303;
    text-align: center;
}

#hyperlink li {
	float: right;
  margin: 0; padding: 0 10px;
}

#hyperlink li a {
    display: block;
    margin: 0; padding: 5px 0 1px 0;
    height: 16px;
    color: white;
    text-align: center;
    padding: 1em;
    text-decoration: none;
}

#hyperlink li a:hover {
    background-color: #222222;
}

#hyperlink a:visited{ color: #ffffff; }
#hyperlink a:hover{ color: #ff6600; }
#hyperlink a:active{ color: #0066ff; }
#hyperlink a:hover, #hyperlink a:active{ border-bottom: 3px solid #ffcc00; }
